{% extends "base.html" %}
{% load static %}
<head>
<title>{% block extra_title %} {{ title }} {% endblock extra_title%}</title>

</head>
<body>

{% block content %}
    <div class="container">
        <div class="row mt-4" >

              <div class="col-6 offset-md-2">
                   <p>Мы – единственный шанс наших питомцев выжить и обрести новую жизнь.
                       Любому по силам спасти животное и подарить ему новую жизнь, тепло, ласку,
                       Они подарят вам свою душу, сердце и станут самыми преданными вашими друзьями!
                   <p>С помощью этого сайта мы уже помогли {{ pet_count }} домашним животным </p>

              </div>

        </div>

    </div>
{% endblock content %}

</body>
</html>